<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

      <div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <h2 style="text-align:center;"><%= settings.appName %></h3>
          </div>
        </div>
        <!-- include footer -->
        <%- include('include/_footer') %>
        <!-- /include footer -->
      </div>
    </div>
  </body>
</html>
